<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="/templates/Cadastro.html">
    <link rel="stylesheet" href="/templates/Curso.html">
    <link rel="stylesheet" href="/templates/Header.html">
    <link rel="stylesheet" href="/templates/Localizacao.html">
    <link rel="stylesheet" href="/templates/Portifolio.html">
        <link rel="stylesheet" href="/templates/Contato.html">

  <title>Document</title>
</head>
<body>
<header class="header">
    <!-- ela está configurada para expandir apenas em telas grandes  -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">

                    <!-- essa linha serve para é para qnd clicar no botão ele descer -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
               <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/cadastro">cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/localizacao">Localização</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/contato">contatos</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/portifolio">portifolio</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/escrita">escrita</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/curso">curso</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <main>
        <div class="container-fluid div2">
      <div class="row ">
        <div class="col-md-6" >
          <img src="static/desgn2.png" alt="" style="width: 420px;">
        </div>
        <div class="col-md-6">
          <p>Os Designs Gráficos antigamente eram feitos de formas diferente do que vemos nos dias atuais:</p><br>
          <p> Desenho à mão: Antes da era digital, a criação de designs gráficos começava com lápis, papel e técnicas de
            desenho à mão.</p><br>
          <p>Fotocomposição: Com o tempo, máquinas de fotocomposição foram introduzidas, permitindo que os designers
            criassem layouts com base em fotografias de caracteres tipográficos.</p><br>
          <p>
            Cortes e colagens: Montagens de imagens eram frequentemente criadas recortando fotografias e ilustrações e
            colando-as manualmente em um layout de design.</p>

        </div>
      </div>
    </div>
    </main>
</body>
</html>